@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500&display=swap');


html {
  font-size: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  height: 100%;
  font-family: 'Work Sans', Helvetica, Verdana, sans-serif;
  color: #515359;
  letter-spacing: 0px;
}

strong {
  font-weight: 600;
}

button:disabled {
  opacity: 0.5;
}

#root {
  height: 100%;
}